.container {
  height: 100%;
  max-width: none;
  margin:0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.wrapper{
  width: 50%;
}

.scroll-wrapper::-webkit-scrollbar {
    display: none;
    margin-right: 5%;
}

.scroll-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fixed-wrapper {
    position: fixed;
    right: 50%;
    top: calc(50% - 275px);
    display:flex;
    justify-content:center;
    height: calc(70vh - 60px);
    align-items: center;
}

.carousel-inner .item {
    max-height: 600px;
    max-width: 600px;
}

.title {
  margin-top:20px;
  font-size: 3.5em;
  font-weight: 700;
}

.title-logo{
    height:24px;
    width:24px;
    margin: 0px 12px 0px 2px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    text-decoration:none;
}

.subtitle {
  font-size: 18px;
  margin-top:20px 0 20px 0px;
  font-weight: 600;
}

.links{
  margin:20px 0px 10px 0px;
}

span {
  display:inline-block;
  margin: 10px 0 10px 0px;
}

.lb {
  display:inline-block;
  margin-top:20px 0 20px 0px;
}

.date {
  margin:0px 100px 20px 0px;
  color: #555;
  max-width: 680px;
  line-height: 1.7;
  font-size: 1.075em;
}

.mobile-view {
    display: none;
}

.desktop-view {
    display: block;
}

.content {
    max-width: 680px;
    line-height: 1.7;
    font-size: 1.125em;
}

.github {
    max-width: 680px;
    line-height: 1.7;
    font-size: 1.075em;
}

.item iframe {
    width: auto !important;
    display: flex;
  }



@media only screen and (max-width: 750px) {

  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }

  .container {
    flex-direction: column;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 190px);
    margin: 170px 0px 50px 0px;
  }

  .wrapper {
    width: 90%;
  }

  .fixed-wrapper {
    position: static;
    flex-direction: column;
    z-index: 7;
  }

}

@media only screen and (max-width: 750px) {
.item iframe {
    width: auto !important;
    max-height: 300px;
  }

.carousel-inner .item {
    max-height: 300px;
    max-width: 350px;
}
}

